body {
    margin : 0;
    display: flex;
    height : 100vh;
    flex-direction: row;
}

main {
    height : 100%;
    flex : 1;
}

canvas {
    width : 100%;
    height: 100%;
}

aside {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.color {
    cursor: pointer;
    width : 30px;
    flex : 1;
}

.tool  {
    width : 30px;
    flex : 1;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    border : solid 1px gray;
    border-radius: 3px;
    margin : 2px;
    transition : background-color 0.3s ease-out;
}

.tool:hover .toolPointer {
    color : white;
}

.toolPointer {
    border-radius: 50%;
    background-color: black;
    transition : background-color 0.3s ease-out;
}